{{user.uuid}}
{{user.user.username}}
{{user.user.first_name}}
{{user.user.last_name}}
{{user.user.email}}
{{user.user.date_joined}}
{{user.user.last_login}}
{{user.showemail}}
{{user.notificationbyemail}}
{{user.confirmedemail}}
{{user.email_confirmation_date}}
{{user.language}}
{{user.showfriendships}}
<br/><br/>
{% for user in user.friends.all %}
<br/>{{user.uuid}} {{user.user.username}}
{% endfor %}
{{user.friends.all.count}}
<br/><br/>
{% for user in user.friends_registered.all %}
<br/>{{user.uuid}} {{user.user.username}}
{% endfor %}
{{user.friends_registered.all.count}}

<br/>{{user.date_end_of_service}}
<br/>{{user.total_of_registered_friends}}
