{% load i18n %}
<ul>
{% for friendship in friendships %}
<li>{{friendship.user.user.username}} - {{friendship.user.user.first_name}} - {{friendship.user.user.last_name}} - <a href="/friendship/?action=accept&id={{friendship.uniqueid}}">{% trans "ACCEPT" %}</a> - <a href="/friendship/?action=refuse&id={{friendship.uniqueid}}">{% trans "REFUSE" %}</a> </li>
{% endfor %}
</ul>
<p>==========================</p>
<ul>
{% for friend in friends %}
<li>{{friend.user.username}} - {{friend.user.first_name}} - {{friend.user.last_name}} - <a href="/friendship/delete/{{friend.user.username}}/">{% trans "DELETE" %}</a></li>
{% endfor %}
</ul>