{% load i18n %}
<ul>
{% for user in users %}
<li>{{user.user.username}} - {{user.user.first_name}} - {{user.user.last_name}} - {% if user.showemail %}{{user.user.email}}{% endif %} -  <a href="/add_friend?friend={{user.user.username}}">add</a></li>
{% endfor %}
</ul>