{% load i18n %}
<form action="/i18n/setlang/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<input name="next" type="hidden" value="/registration" />
	<select name="language">
		{% for code,desc in LANGUAGES %}
		<option value="{{code}}" 
		{% ifequal code LANGUAGE_CODE %}
		selected="selected"
		{% endifequal %}>{{desc}}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Change" />
</form>
<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>