{% load i18n %}<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<script src="{{MEDIA_URL}}jscript/libs/jquery.js" type="text/javascript"></script>
		<script src="{{MEDIA_URL}}jscript/libs/jquery.json.js" type="text/javascript"></script>
		<script src="{{MEDIA_URL}}jscript/libs/jquery.cookie.js" type="text/javascript" ></script>
		<script src="{{MEDIA_URL}}jscript/libs/swfobject.js" type="text/javascript"></script>
		<script src="{{MEDIA_URL}}jscript/libs/downloadify.min.js" type="text/javascript"></script>
		<script src="{{MEDIA_URL}}jscript/libs/privatemessage.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				var errors = new Array(
					'{% trans "GENERIC_ERROR_TRY_LATER" %}',
					'{% trans "YOU_HAVE_TO_LOGIN" %}',
					'{% trans "GET_PUBLIC_KEY_PROBLEM" %}',
					'{% trans "RSA_ENCRYPTION_PROBLEM" %}',
					'{% trans "YOU_HAVE_TO_SAVE_TO_ACTIVATE" %}',
					'{% trans "ERROR_TO_SAVE_PERSONAL_KEY" %}',
					'{% trans "FILE_SAVED" %}',
					'{% trans "ERROR_FILE_SAVE" %}'
				);
				$("#downloadify").hide();
				$("#downloadify").downloadify({
				filename: function(){
					return pvtmsg.randomFileName(8);
				},
				data: function(){ 
					return rsaKey.data.personalKey;
				},
				onComplete: function(){ 
					pvtmsg.sendKey(rsaKey.data.publicKey,errors[6],errors[7]);
					delete rsaKey;
					
				},
				onCancel: function(){ 
					alert(errors[4]);
				},
				onError: function(){ 
					alert(errors[5]); 
				},
				transparent: false,
				swf: '{{MEDIA_URL}}swf/downloadify.swf',
				downloadImage: '{{MEDIA_URL}}images/download.png',
				width: 100,
				height: 30,
				transparent: true,
				append: false
				});
				
				$("#key_gen").click(function (){
					pvtmsg.generateKey('{{MEDIA_URL}}',errors);
				});
			});
		</script>
	</head>
	<body>
		<p>{% trans "TEXT_KEY_GENERATOR" %}</p>
		<a href="#" id="key_gen">{% trans "KEY_GEN" %}</a>
		<p id="downloadify">
			{% trans "YOU_MUST_HAVE_FLASH" %}
		</p>
		<div id="password"></div>
	</body>
</html>