{% load i18n %}
<ul>
<li><a href="/messages/inbox/">{% trans "INBOX" %}</a></li>
<li><a href="/messages/sent/">{% trans "SENT" %}</a></li>
<li><a href="/messages/drafts/">{% trans "DRAFTS" %}</a></li>
<li><a href="/messages/trash/">{% trans "TRASH" %}</a></li>
{% for directory in directories %}
<li><a href="/messages/{{directory.slugfied}}/">{{directory.name}}</a></li>
{% endfor %}
</ul>
