{% load i18n %}<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<script src="{{MEDIA_URL}}jscript/libs/jquery.js" type="text/javascript"></script>
		<script src="{{MEDIA_URL}}jscript/libs/jquery.json.js" type="text/javascript"></script>
		<script src="{{MEDIA_URL}}jscript/libs/jquery.cookie.js" type="text/javascript" ></script>
		<script src="{{MEDIA_URL}}jscript/libs/swfobject.js" type="text/javascript"></script>
		<script src="{{MEDIA_URL}}jscript/libs/downloadify.min.js" type="text/javascript"></script>
		<script src="{{MEDIA_URL}}jscript/libs/privatemessage.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				var errors =[
					'{% trans "GENERIC_ERROR_TRY_LATER" %}',
					'{% trans "YOU_HAVE_TO_LOGIN" %}',
					'{% trans "GET_PUBLIC_KEY_PROBLEM" %}',
					'{% trans "AES_KEY_NOT_CORRECT" %}',
					'{% trans "NOT_CORRECT_KEY_VERSION" %}',
					'{% trans "KEY_FROM_ANOTHER_DOMAIN" %}',
					'{% trans "RSA_ENCRYPTION_PROBLEM" %}',
					'{% trans "YOU_CANT_SENT_EMPTY_MESSAGE" %}',
					'{% trans "YOU_HAVE_TO_SELECT_A_RECIPIENT" %}',
					'{% trans "YOU_HAVE_TO_SELECT_YOUR_PERSONAL_KEY" %}',
					'{% trans "YOU_HAVE_TO_SELECT_YOUR_PERSONAL_KEY_PASSWORD" %}',
					'{% trans "PROBLEMS_SENDING_MESSAGE_TRY_AGAIN" %}',
					'{% trans "PROBLEMS_SAVING_MESSAGE_TRY_AGAIN" %}',
					'{% trans "PROBLEMS_READING_MESSAGE_TRY_AGAIN" %}'
					];
				
				$("#send").click(function(){
					var data={'recipient':$('#id_recipient :selected').text(),
							'subject':$('#id_subject').val(),
							'important':($('#id_important').is(':checked'))?1:0,
							'oldid':$('#id_oldid').val(),
							'relation':$('#id_relation').val(),
							'message':$('#id_message').val(),
							'save_as_sent':($('#id_sent').is(':checked'))?1:0
							};
					
					if (data['recipient']!=''){
						if (data['message']!=''){
							if ($('#filekey')[0].files[0]!='undefined'){
								if ($('#pwdkey').val()!='') {
									var reader = new FileReader();
									reader.onload = function(){
										pvtmsg.sendMessage('{{MEDIA_URL}}',this.result,$('#pwdkey').val(),data,errors);
									};
									reader.readAsText($('#filekey')[0].files[0]);
								} else alert(errors[10]);
							} else alert(errors[9]);
						} else alert(errors[7]);
					} else alert (errors[8]);
				});
				
				
				$("#savedraft").click(function(){
					var data={'recipient':$('#id_recipient :selected').text(),
							'subject':$('#id_subject').val(),
							'important':($('#id_important').is(':checked'))?1:0,
							'oldid':$('#id_oldid').val(),
							'relation':$('#id_relation').val(),
							'message':$('#id_message').val(),
							'save_as_sent':($('#id_sent').is(':checked'))?1:0
							};
					

					if (data['message']!=''){
						if ($('#filekey')[0].files[0]!='undefined'){
							if ($('#pwdkey').val()!='') {
								var reader = new FileReader();
								reader.onload = function(){
									pvtmsg.saveDraft('{{MEDIA_URL}}',this.result,$('#pwdkey').val(),data,errors);
								};
								reader.readAsText($('#filekey')[0].files[0]);
							} else alert(errors[10]);
						} else alert(errors[9]);
					} else alert(errors[7]);
				});
			});
		</script>
	</head>
	<body>
		{{ form.as_p }}
		<input type="text" name="pwdkey" id="pwdkey">
		<input type="file" name="filekey" id="filekey">
		<input type="button" value="{% trans 'SEND' %}" id="send"/>
		<input type="button" value="{% trans 'SAVE_DRAFT' %}" id="savedraft"/>
	</body>
</html>
